.main{
  margin-bottom: 100vh;
}

.container{
  position: relative;
  height: 300vh;
  background-color: #fff;
}

.stickyMask{
  display: flex;
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
  align-items: center;
  justify-content: center;
  mask-image: url('/medias/mask3.svg');
  mask-position: 58.1% 42%; 
  mask-repeat: no-repeat;
  mask-size: 80%;
}

.stickyMask video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}